:root {
    --primary-color: rgb(255, 255, 255);
    --background-color:rgba(63, 51, 51, 0.5);
}
body {
    background-color: rgb(63, 51, 51) !important ;
    color: var(--primary-color);
}
main {
    margin: 0 25rem;
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    background: url(./images/carl-solder-iANyXOzpsMM-unsplash.jpg) no-repeat center center fixed;
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;  
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--background-color);
    height: 100vh;
    padding: 0 1rem;
}
.primero {
    color: var(--primary-color);
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
section {
    color: var(--primary-color);
    font-weight: bolder;
    border-bottom: solid white 0.1rem;
    margin-bottom: 3rem;
}
p {
    max-width: 55ch;
}
input[type="text"], 
input[type="email"], 
input[type="password"], 
input[type="number"] {
    background: transparent;
    border: solid var(--primary-color) 0.1rem;
    color:  var(--primary-color);
}
button[type="submit"] {
    background-color: rgb(63, 51, 51);
    border: none;
    font-weight: bold;
    font-size: larger;
    padding: 1rem;

}
.imazh {
    margin-top: 23rem;
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
    width: 100%;
}
#imazh {
    width: 15rem;
}